# Base de Datos PostgreSQL
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/saludpublica?schema=public"

# Configuración Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Servidor Backend
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Seguridad JWT
JWT_SECRET=tu_secreto_super_seguro_aqui

# Configuración de Servidor SMTP (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_app_password
EMAIL_FROM="SaludPública Connect <noreply@saludpublica.com>"
